<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.springblade.modules.contract.mapper.ContractExpiryRuleMapper">

    <select id="selectRulePage" resultType="org.springblade.modules.contract.pojo.entity.ContractExpiryRule">
        SELECT er.*
        FROM biz_contract_expiry_rule er
        WHERE er.del_flag = '0'
        <if test="ruleName != null and ruleName != ''">
            AND er.rule_name LIKE CONCAT('%', #{ruleName}, '%')
        </if>
        <if test="parkId != null">
            AND EXISTS (
                SELECT 1
                FROM ics_building b
                WHERE b.park_id = #{parkId}
                  AND FIND_IN_SET(CAST(b.id AS CHAR), REPLACE(COALESCE(er.building_ids, ''), 'building_', '')) &gt; 0
            )
        </if>
        <if test="authorizedParkIds != null">
            <choose>
                <when test="authorizedParkIds.size() > 0">
                    AND EXISTS (
                        SELECT 1 FROM ics_building b
                        WHERE b.park_id IN <foreach collection="authorizedParkIds" item="id" open="(" separator="," close=")">#{id}</foreach>
                          AND FIND_IN_SET(CAST(b.id AS CHAR), REPLACE(COALESCE(er.building_ids, ''), 'building_', '')) &gt; 0
                    )
                    AND NOT EXISTS (
                        SELECT 1 FROM ics_building b
                        WHERE b.park_id NOT IN <foreach collection="authorizedParkIds" item="id" open="(" separator="," close=")">#{id}</foreach>
                          AND FIND_IN_SET(CAST(b.id AS CHAR), REPLACE(COALESCE(er.building_ids, ''), 'building_', '')) &gt; 0
                    )
                </when>
                <otherwise>AND 1 = 0</otherwise>
            </choose>
        </if>
        ORDER BY er.create_time DESC, er.rule_id DESC
    </select>

</mapper>
